<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMKG Lite -By AkyasMahira</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1>Informasi Cuaca</h1>
        <button onclick="getLocation()">🌍 Gunakan Lokasi Saya</button>
        <p>masukkan kota secara manual:</p>
        <input type="text" id="city" placeholder="Masukkan nama kota">
        <button onclick="getWeather()">Cek Cuaca</button>
        <div id="weather-info"></div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
